@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
* {
  transition: all 0.3s ease-out;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color:  #080808!important;
    background: #EABF9F!important;
    border-radius: 10px 0px;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  transition:   padding-left 0.25s ease-in-out;
}
.dropdown-item:hover, .dropdown-item:focus {
  padding-left: 10px !important;
  color: #16181b;
  text-decoration: none;
  background-color: #EABF9F!important;

}
.section{
    margin-top: 97px;
}
.navbar-dark .navbar-brand img{
height: 55px;
}
.card{
    margin-top: 127px;
}

.jumbotron{

    border: 1px dashed;
}
.display-4{
  font-size: 1.5rem;
}


 .fa-cloud-upload-alt{
    font-size: 56px;
    padding-bottom: 20px;
}

#startUpload{
    background: #5e7c5e;
    border: 1px solid transparent;
    border-radius: 7px;
    font-size: 21px;
}
.alert{
    text-align: center;
    margin-top: 87px;
}
/* 
.card{
    display: flex;
    flex-direction: row;
} */
.form-row,
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.form-group{
    width: 50%;
}
.form-control{
   
    width: 75%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b3c5d6;
    border-radius: 1.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.eidt-jumbotron {
    margin-top: 70px;
    width: 64%;
    margin-left: 250px;
}


h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}
p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}
p.small {
  font-size: 14px;
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color:  linear-gradient(to right, #B68973, #EABF9F);
  border-radius: 0 4px 0 32px;
}
.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: #fff;
  font-family: courier, sans;
}
.edit-submit{
    margin-top: 21px;
    margin-bottom: -8px;
}
/* .eidt_card{
   
    transition: height 0.3s ease-out;
}
.eidt_card:hover{
    background: #EABF9F;
    height: 150px;
} */
a:hover{
  text-decoration: none;
  color: #fff;
}
/* hr{
   margin-right: 55rem;
  background:#EABF9F ;
  border-top: 3px solid rgba(0, 0, 0, 0.1); 
} */


.edit_a{
  position: absolute;
    font-size: 50px;
    top: 239px;
    color: black;
}
.edit_a:hover{
  color: #EABF9F;
}

/* start Style  edit Profile sub-admin */
.form {
  border: 1px solid white;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 1px 0px 4px 2px #353434;
}
.form-row,
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-row .form-group label{
  justify-content:flex-start;
  align-items: flex-start;
}
.form-group {
  width: 50%;
}
.h3 {
  color: #b68973;
}
.form-group input {
  border: 1px #b68973 solid;
}
.form-control {
  width: 75%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #b3c5d6;
  border-radius: 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form_img {
  position: relative;
}
.edit-span i {
  color: #b68973;
  position: absolute;
  right: 210px;
  top: 10px;
}
@media (max-width: 540px) and (min-width: 767.98px) {
  .edit-span i {
    right: 85px;
    top: 10px;
  }
}
@media (max-width: 720px) and (max-width: 960px) {
  .edit-span i {
    right: 80px;
    top: 10px;
  }
}
@media (max-width: 960px) {
  .edit-span i {
    right: 121px;
    top: 10px;
  }
}

small {
  display: block;
}
/* The message box is shown when the user clicks on the password field */
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}
#message2 {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid::before {
  position: relative;
  left: -5px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid::before {
  position: relative;
  left: -5px;
  content: "✖";
}
.btn{
  background:none;
  color: #EABF9F;
  border-radius: 19px ;
}
/* end Style  edit Profile sub-admin */

.profile-card-3 {
  max-width: 300px;
  max-height: 300px;
  background-color: rgb(19, 18, 18);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
}

.profile-card-3 img {
  /* transition: all linear 0.25s; */
  background-size: cover;
  width: 100%;

}




.profile-card-3 .profile-btn{
  display: flex;
  position: absolute;
  bottom: -60px;
  left: 30px;
  color: #FFF;
  /* transition: all linear 0.25s ; */

}
.profile-card-3:hover img{
  background: black;
  opacity:0.6;
}
.profile-card-3:hover .profile-btn{
  bottom: 40px;
  left: 30px;
  transition: all  0.50s ease-in-out;
}


#overlay:hover {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
