@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html{
    box-sizing: border-box;
    font-size: 100%;
}
  
#P1{
    font-family: 'Gentium Book Basic', serif;
}

main h5{
    font-family: 'Gentium Book Basic', serif;
    text-align: center;
}
#about-secOne {
    font-family: 'Staatliches', cursive;
    text-align: center;
   
}



  .missionOne{
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    color:#5d4954 ;
   
}
.img {
    border-radius: 50%;
  
  }
  #map{
    width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  padding: 10px;
  background-color: whitesmoke;
  }
  #map iframe{
    width: 100%;
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100%;
    background-attachment: fixed;
  }


 
  #contactus{
    /* background-image: url('/images/aaaaaaaaaaaa.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    color: #5d4954;

  }

/* from here about us  */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #5d4954;
    border-color: #5d4954;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #5d4954;
    border-color: #5d4954;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #5d4954;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 250px;
    /* width: 70%; */
}

.backside .card a {
    font-size: 18px;
    color: #5d4954 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #5d4954 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#hr{
  background-image: url("/images/hr-img.png");
    padding: 5px;
    padding-left: 10%;
    padding-right: 70%;
    border-left: none;
    border-top: none;
    color: rgb(201, 192, 192);
}